name: Deploy Docker Containers

on:
  push:
    branches:
      - master
      - staging
      - production

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible==2.19.5
          pip install "ansible[community.docker]"

      - name: Add SSH Key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.ANSIBLE_SSH_KEY }}

      - name: Run Ansible Playbook
        run: |
          if [ "${GITHUB_REF##*/}" = "main" ]; then
            ansible-playbook -i inventories/production.ini playbooks/site.yml
          elif [ "${GITHUB_REF##*/}" = "staging" ]; then
            ansible-playbook -i inventories/staging.ini playbooks/site.yml
          else
            ansible-playbook -i inventories/dev.ini playbooks/site.yml
          fi
